$lightRed: hsl(0, 100%, 67%);
$orange: hsl(39, 100%, 56%);
$greenTea: hsl(166, 100%, 37%);
$cobaltBlue: hsl(234, 85%, 45%);

// ## Gradients

$lightSlateBlue: rgb(120, 87, 255);
$lightRoyalBlue: rgb(46, 43, 233);

$violetBlue: rgb(78, 33, 202);
$persianBlue: rgba(36, 33, 202, 0);

// ### Neutral

$white: hsl(0, 0%, 100%);
$paleBlue: hsl(221, 100%, 96%);
$lightLavender: hsl(241, 100%, 89%);
$darkGrayBlue: hsl(224, 30%, 27%);
