$lightRed: rgb(255, 87, 87, 0.15);
$orange: rgb(255, 176, 31, 0.15);
$greenTea: rgb(0, 189, 145, 0.15);
$cobaltBlue: rgb(17, 37, 212, 0.15);

$redText: rgb(255, 87, 87);
$orangeText: rgb(255, 176, 31);
$greenText: rgb(0, 189, 145);
$cobaltText: rgb(17, 37, 212);

// ## Gradients

$lightSlateBlue: rgb(120, 87, 255);
$lightRoyalBlue: rgb(46, 43, 233);

$violetBlue: rgb(78, 33, 202);
$persianBlue: rgba(36, 33, 202, 0);

// ### Neutral

$white: hsl(0, 0%, 100%);
$paleBlue: hsl(221, 100%, 96%);
$lightLavender: hsl(241, 100%, 89%);
$darkGrayBlue: hsl(224, 30%, 27%);
